<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.uga.cs.csci4060_rideshare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Csci4060rideshare">
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp">
        </activity>
        <activity android:name=".SignIn">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".DriverScreen">
        </activity>
        <activity android:name=".RiderScreen">
        </activity>
        <activity android:name=".AccountDetails">
        </activity>
        <activity android:name=".DeleteOffer">
        </activity>
    </application>

</manifest>